body { background-color: #f8f9fa; }
#rendimientoChart { background: rgb(176, 193, 223); padding: 20px; border-radius: 10px; }
#mapaClimatico { border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); }